.label{
    margin-bottom: 10px;
}
.p-card{
    width: 80%;
    padding: 10px;
    padding-right: 25px;
}
img{
    width: 50%;
}
#inputtext, #inputpass{
    width: 25rem;
    border-radius: 17px;
}
.p-button{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.grid{
    display: grid;
    margin-right: 10.5rem;

}