<p-card>
    <ng-template pTemplate="title">
        Formación Academica.
    </ng-template>
    <ng-template pTemplate="subtitle">
        Ingrese su formación academica correspondiente.
    </ng-template>
    <label>Modalidad Academica</label><hr>
    <ng-template pTemplate="content">
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory" [disabled]="category.key === 'R'"></p-radioButton>
            <label [for]="category.key">{{category.name}}</label>
        </div>
        <div class="field">
            <label for="nombreTitulo">Nombre del titulo obtenido</label><br>
            <input id="nombreTitulo" type="text" required pInputText> 
        </div>
    </ng-template>
</p-card>