<div class="grid">
    <div class="col-6">
        <p-card class="col-6">
            <ng-template pTemplate="title">
                Formación Academica.
            </ng-template>
            <ng-template pTemplate="subtitle">
                Ingrese su formación academica correspondiente.
            </ng-template>
            <ng-template pTemplate="content">
                <div class="grid">
                    <div class="col-12 flex flex-column">
                        <label>Modalidad Academica</label>
                        <p-dropdown [options]="modalidadAcademicaList" [(ngModel)]="selectedModalidad"
                            placeholder="Seleccione una modalidad academica"
                            optionLabel="nombre">
                        </p-dropdown>
                    </div>
                    <div class="col-12 flex flex-column">
                        <label for="nombreTitulo">Nombre del titulo obtenido</label>
                        <input id="nombreTitulo" type="text" required pInputText>
                    </div>
                    <div class="col-12 flex flex-column">
                        <label for="institución">Institución</label>
                        <input id="institución" type="text" required pInputText>
                    </div>
                    <div class="col-12 flex flex-column">
                        <label for="fechaGrado">Fecha de Grado</label>
                         <p-calendar inputId="basic" [(ngModel)]="date1" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12">
                        <label for="pdf">Subir diploma (Formato PDF)</label>
                        <p-fileUpload id="diploma" name="myfile[]" [showUploadButton]="false" url="./upload.php" accept=".pdf" >
                          <ng-template let-file pTemplate="file">
                            <div>Custom UI to display a file</div>
                        </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="col">
                        <div class="flex flex-row gap-6">
                            <label for="tituloConvalidado">Título Convalidado</label>
                            <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                        </div>
                    </div>
                    <div *ngIf="!checked;else convalidado"></div>
                    <ng-template #convalidado>
                        <div class="col-12">
                            <label for="pdf">Subir Resolución de convalidación</label>
                            <p-fileUpload id="diploma" name="myfile[]" [showUploadButton]="false" url="./upload.php" accept=".pdf"></p-fileUpload>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <button pButton label="Agregar" icon="pi pi-check" iconPos="right"></button>
                </div>
            </ng-template>
            </p-card>
    </div>
    <div class="col-6">
        <app-ucs-table [columns]="columns" [data]="data" [editButton]="true" [deleteButton]="true"></app-ucs-table>
    </div>
</div>
