<div class="grid">
    <p-card class="col-6">
        <ng-template pTemplate="title">
            Experiencia Docente.
        </ng-template>
        <ng-template pTemplate="subtitle">
            Ingrese su experiencia Docente.
        </ng-template>
        <ng-template pTemplate="content">
            <div class="grid">
                <div class="col-12 flex flex-column">
                    <label>Elija la universidad...</label>
                    <p-dropdown [options]="universidades" [(ngModel)]="selectedUniversidad"
                        [showClear]="true"
                        placeholder="Seleccione una universidad"
                        optionLabel="nombre_instituci_n"
                        [filter]="true">
                            <ng-template pTemplate="selectedItem">
                                <span>{{selectedUniversidad?.nombre_instituci_n}} | {{selectedUniversidad?.cod_departamento}} | {{selectedUniversidad?.municipio_domicilio}}</span>
                            </ng-template>
                            <ng-template let-universidad pTemplate="item">
                                <span>{{universidad.nombre_instituci_n}} | {{universidad.cod_departamento}} | {{universidad.municipio_domicilio}}</span>
                            </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12 flex flex-column">
                    <label for="facultad">Facultad</label>
                    <input id="facultad" type="text" [(ngModel)]="data.facultad" required pInputText> 
                </div>
                <div class="col-12 flex flex-column">
                    <label for="Programa">Programa</label>
                    <input id="Programa" type="text" [(ngModel)]="data.programa" required pInputText> 
                </div>
                <div class="col-12 flex flex-column">
                    <label for="fechaIngreso">Fecha Ingreso</label>
                    <p-calendar inputId="basic" [(ngModel)]="data.fechaIngreso" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="col-12 flex flex-column">
                    <label for="fechaRetiro">Fecha Retiro</label>
                    <p-calendar inputId="basic" [(ngModel)]="data.fechaRetiro" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="col-12 flex flex-column">
                    <label>Elija modalidad de contrato</label>
                    <p-dropdown [options]="modalidadContratoList" [(ngModel)]="selectedModalidad"
                        placeholder="Seleccione modalidad de contrato"
                        optionLabel="nombre">
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <label for="pdf">Subir Certificado (Formato PDF)</label>
                    <p-fileUpload id="diploma" name="myfile[]" [showUploadButton]="false" url="./upload.php" accept=".pdf" ></p-fileUpload>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-end">
                <button pButton type="submit" (click)="save()" label="Agregar" icon="pi pi-check" iconPos="right"></button>
            </div>
        </ng-template>
    </p-card>
    <p-card class="col-6">
            <div class="col-12 flex flex-column">
                <p-table [value]="experienciaDocente">
                    <ng-template pTemplate="caption">
                        Experiencia Docente Guardada.
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Universidad</th>
                            <th>Facultad</th>
                            <th>Programa</th>
                            <th>Fecha Ingreso</th>
                            <th>Fecha Retiro</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-datos>
                        <tr >
                            <td>{{datos.universidad}}</td>
                            <td>{{datos.facultad}}</td>
                            <td>{{datos.programa}}</td>
                            <td>{{datos.fechaIngreso | date}}</td>
                            <td>{{datos.fechaRetiro | date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
    </p-card>
</div>